{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <div class="container">
        <h2>Customers</h2>
        <p>List of customers</p>
        <table class="table">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>

            {% for customer in data %}
            <tr>
                <td>
                    {{ customer.firstName }}
                </td>
                <td>
                    {{ customer.lastName }}
                </td>
                <td>
                    {{ customer.email }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}